<div class="container">
    <div class="auth-container">

        <h2>Entrar</h2>

        <form class="form-control" action="/login" method="post">
        
            <label for="email" class="">Email:</label>
            <input type="email" name="email" placeholder="seu email">

            <label for="password" class="">Senha:</label>
            <input type="password" name="password" placeholder="sua senha">

            <input type="submit" value="Entrar">
            
            <p>Não tem uma conta? <a href="/register">Clique aqui!</a></p>
    
         </form>
    </div>
</div>