<div class="container">
    <div class="auth-container">

        <h2>Cadastre-se</h2>
        <form class="form-control p-3 shadow" action="/register" method="post">
            <div class="mb-3">
                <input type="text" class="form-control p-3 mb-2" id="name" name="name" placeholder="Nome">
                <input type="email" class="form-control p-3 mb-2" id="email" placeholder="E-mail" name="email">
                <input type="password" class="form-control p-3 mb-2" id="password" placeholder="Senha" name="password">
                <input type="password" class="form-control p-3 mb-2" id="confirmpassword"
                    placeholder="Confirme sua senha" name="confirmpassword">

                <label for="birthdate">Data de nascimento</label>
                <input type="date" class="form-control p-3 mb-2" id="birthdate" name="birthdate">
            </div>
            <button type="submit" class="btn btn-dark fs-3">Entrar</button>
            <p>Já possui uma conta? <a href="/login">Clique aqui!</a> </p>
        </form>
    </div>
</div>