<div class="container">
    <div class="auth-container">

        <h2>Cadstre-se</h2>

        <form class="form-control" action="/register" method="post">
        
            <label for="name" class="">Nome:</label>
            <input type="text" name="name" placeholder="seu nome">

            <label for="email" class="">Email:</label>
            <input type="email" name="email" placeholder="seu email">

            <label for="password" class="">Senha:</label>
            <input type="password" name="password" placeholder="sua senha">

            <label for="confirmpassword" class="">Confirme sua senha:</label>
            <input type="password" name="confirmpassword" placeholder="sua senha">

            <label for="birthdate" class="">Data de nascimento:</label>
            <input type="date" name="birthdate" placeholder="dd/MM/yyyy">

            <input type="submit" value="Cadastrar">
            <p>Já possui uma conta? <a href="/login">Clique aqui!</a> </p>
    
         </form>
    </div>
</div>