<div class="container">
    <h1>Novo Projeto</h1>
    <form action="/project/add" method="post">

        <div class="form-control">
            
            <label for="destination">Destino:</label>
            <input type="text" name="destination" id="destination" placeholder="Destino do Intercâmbio">
            
            <label for="exchangeType">Tipo de Intercâmbio:</label>
            <select name="exchangeType" id="exchangeType">
                <option value="idioma">Idioma</option>
                <option value="escola">Escola</option>
                <option value="faculdade">Faculdade</option>
                <option value="pós-graduação">Pós-Graduação</option>
                <option value="pesquisa">Pesquisa</option>
            </select>

            <input type="submit" value="Adicionar">

        </div>

    </form>
</div>