<main class="container min-vh-100 shadow">
    <h1 class="text-center p-4">Editar projeto</h1>
    <form action="/project/update" method="post" class="d-flex flex-column align-items-center">
        <input type="hidden" name="id" value="{{project.id}}">

        <div class="p-3 rounded border-bottom border-5 shadow mb-5">
            <div>
                <input type="text"
                    class="form-control-plaintext form-control mb-3 fs-3 text-center border-bottom rounded"
                    name="destination" id="destination" value="{{project.destination}}">
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <label for="" class="form-label">Status</label>
                    <select class="form-select text-center" name="status">
                        <option>Selecione</option>
                        <option value="progredindo">Progredindo</option>
                        <option value="hiato">Hiato</option>
                        <option value="finalizado">Finalizado</option>
                        <option value="abandonado">Abandonado</option>
                    </select>
                </div>
                <div class="col-md-6 text-center">
                    <label for="" class="form-label">Tipo</label>
                    <select class="form-select text-center" name="exchangeType">
                        <option>Selecione</option>
                        <option value="idioma">Idioma</option>
                        <option value="escola">Escola</option>
                        <option value="faculdade">Faculdade</option>
                        <option value="pós-graduação">Pós-graduação</option>
                        <option value="pesquisa">Pesquisa</option>
                    </select>
                </div>

            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-success mt-3">Atualizar</button>
               <!-- <button type="text" class="btn btn-danger ms-3 mt-3">Cancelar</button>-->
            </div>
        </div>
    </form>
</main>