<li>
    <form action="" method="post" class="accordion-item mt-3 border rounded">
        <button class="accordion-header accordion-button collapsed bg-dark rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#idReplace" aria-expanded=" false" aria-controls="idReplace">
                    <div class=" input-group form-check align-items-center">
            <input class="form-check-input me-3 rounded" type="checkbox" value="">
            <input type="text" class="border-0 bg-dark text-light fw-bold rounded" placeholder="Nome Do Passo">
            </div>
        </button>

        <div id="idReplace" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <label class="d-flex align-items-center">Custo</label>
                <div class="input-group">
                    <span class="input-group-text rounded-start">R$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
                <label class="d-flex align-items-center">Local</label>
                <input type="text" class="form-control rounded" aria-label="Amount (to the nearest dollar)">
                <label class="d-flex align-items-center">Descrição</label>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>

            <div class="accordion-footer d-flex justify-content-end p-2 bg-dark rounded-bottom">
                <button type="button" class="btn btn-outline-success p-1 me-2" onclick="salvaPasso(event)">Salvar</button>
                <button type="button" class="btn btn-outline-danger p-1" onclick="deletaPasso(event)">Deletar</button>
            </div>
        </div>
    </form>
</li>