<li class="list-group-item p-0">
    <form action="/project" method="post" class="card mt-3 mb-0">
        <div class="card-header bg-dark text-light pb-0 d-flex justify-content-between align-items-center">
            <h3>
                <input class="form-control-plaintext text-light fw-bold rounded" type="text" placeholder="Destino"
                    name="destination" Disabled>
            </h3>
            <div class="d-flex justify-content-center align-items-center">
                <button type="button"
                    class="btn btn-outline-light p-1 d-flex justify-content-center align-items-center border-0"
                    Disabled>
                    <i class="bi bi-trash h4 mb-0"></i>
                </button>
                <button type="submit"
                    class="btn btn-outline-light p-1 d-flex justify-content-center align-items-center border-0"
                    Disabled>
                    <i class="bi bi-floppy h4 mb-0"></i>
                </button>
            </div>

        </div>
        <div class="card-body bg-light p-3">
            <div class="row">
                <div class="col-md-6 text-center">
                    <label for="" class="form-label">Status</label>
                    <select class="form-select" name="status" Disabled>
                        <option>Selecione</option>
                        <option value="progredindo">Progredindo</option>
                        <option value="hiato">Hiato</option>
                        <option value="finalizado">Finalizado</option>
                        <option value="abandonado">Abandonado</option>
                    </select>
                </div>
                <div class="col-md-6 text-center">
                    <label for="" class="form-label">Tipo</label>
                    <select class="form-select" name="exchangeType" Disabled>
                        <option>Selecione</option>
                        <option value="idioma">Idioma</option>
                        <option value="escola">Escola</option>
                        <option value="faculdade">Faculdade</option>
                        <option value="pós-graduação">Pós-graduação</option>
                        <option value="pesquisa">Pesquisa</option>

                    </select>
                </div>
            </div>
        </div>

    </form>
</li>