<div class="container">
    <div class="auth-container">

        <h2>Avalie o projeto: </h2>

        <form class="form-control" action="/review" method="post">

            <input type="hidden" name="ProjectId" value="{{projectId}}">
        
            <label for="grade" class="">Nota:</label>
            <input type="number" name="grade" placeholder="este projeto é útil?" min="0" max="5">

            <label for="description" class="">Descrição:</label>
            <input type="text" name="description" placeholder="comente sobre o projeto">

            <input type="submit" value="Adicionar avaliação">
    
         </form>
    </div>
</div>