main {
    background-color: white;
}

.card {
    width: 25rem;
}

.registerMain,
.loginMain {
    background-image: url('/img/login_register.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.projectImg {
    background-image: url('/img/proj.jpg');
    background-size: cover;
    background-position: center;
}

/*messages*/
.message {
    padding: 0.5em;
    background-color: tomato;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    margin: 0.5em auto;
    max-width: 60%;
}