main{
    background-color: white;
}
.card{
    width: 25rem;
}

/*messages*/
.message {
    padding: 0.5em;
    background-color: tomato;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    margin: 0.5em auto;
    max-width: 60%;
}

