<main>
    <div class="container">

        <div class="">
            Crie seu projeto de intercâmbio
        </div>

        <div class="">
            Compartilhe experiências
        </div>

        <div class="">
            Conecte-se com pessoas
        </div>

    </div>
</main>