<main class="container p-0 shadow">
    <div class="pt-3">
        <div class="d-flex justify-content-center">
            <div class="card">
                <img src="img/exchange.jpg" class="card-img-top img-fluid h-100" alt="...">
                <div class="card-body">
                    <p class="card-text">Uma oportunidade única de mergulhar em uma nova cultura, aprender um novo
                        idioma e fazer amigos ao redor do mundo. Não perca a chance de expandir seus horizontes e
                        enriquecer sua vida pessoal e profissional.</p>
                </div>
            </div>
            <div class="card ms-3 me-3">
                <img src="img/exchange_2.jpg" class="card-img-top img-fluid h-100" alt="...">
                <div class="card-body">
                    <p class="card-text">Viver em outro país vai te desafiar e te transformar, ajudando a desenvolver
                        independência, resiliência e uma perspectiva global. Aproveite a experiência para crescer, se
                        reinventar e descobrir novas paixões.</p>
                </div>
            </div>
            <div class="card">
                <img src="img/exchange_3.jpg" class="card-img-top img-fluid h-100" alt="...">
                <div class="card-body">
                    <p class="card-text">Abrir portas para experiências inesquecíveis e memórias para a vida toda.
                        Aventure-se, explore novos lugares, e volte com uma bagagem cheia de histórias e aprendizados
                        que irão te acompanhar para sempre.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top border-3 rounded overflow-auto mt-3">
        <div id="globalMap" class=""></div>
    </div>
</main>